<!DOCTYPE html>
<html>

  <head>

    <style>
      table {
        border-spacing: 30px 0;
      }
    </style>

    <title>
      Occupations
    </title>

  </head>

  <body>
    <center>

      <br>
      <br>

      Random occupation based on percentage:    {{randocc}}

      <br>
      <br>

      <table>
        <tr>
          <th align="right">
            Occupations
          </th>
          <th>
            Percentages
          </th>
          {% for i in range(6) %}
            <th>
            </th>
          {% endfor %}
        </tr>

        {% for occ in occdict %}
          <tr>
            <td align="right">
              {{occ}}          
            </td>
            <td align="center">
              {{occdict[occ]}}
            </td>
            {% for i in range(6) %}
              <td>
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>


    </center>
  </body>

</html>
